.leftInfo {
  margin-bottom: 2rem;
  margin-left: 3rem;
  padding: 0 20px;
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.temperature {
  font-size: 6rem;
  font-weight: 300;
}

.locationInfo,
.weatherStatus {
  padding: 0 2rem;
}

.city {
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1;
}

.date,
.description {
  font-size: 1.3rem;
  margin: 0;
}

.description {
  line-height: 0;
}

.weatherIcon {
  margin: -0.5rem 0;
}

@media (max-width: 75rem) {
  .leftInfo {
    margin-left: 1.5rem;
    flex-direction: column;
    height: 100vh;
    width: 60vw;
    margin: auto;
    align-items: flex-start;
  }

  .city,
  .temperature {
    font-size: 5rem;
    font-weight: 400;
  }
}

@media (max-width: 48rem) {
  .city,
  .temperature {
    font-size: 3rem;
    font-weight: 400;
  }
}

.temperature {
  padding: 2rem;
}

.weatherIcon {
  margin: auto;
  padding: 0;
}
