.sideBar {
  color: white;
}

.spacer:lastchild {
  margin-bottom: 20px;
}
.spacer {
  width: 100%;
  margin: 10px auto;
  height: 0.1px;
  background: var(--sidebar-primary);
}

.sideBar {
  position: absolute;
  width: 40vw;
  height: 100vh;
  max-width: 400px;
  right: 0;
  top: 0;
  padding: 3rem;
  background-color: rgba(31, 28, 28, 0.381);
  backdrop-filter: blur(10px);
  color: var(--sidebar-primary);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.locationInput {
  background: none;
  color: var(--sidebar-primary);
  border: none;
  outline: none;
}

.locationInput::placeholder {
  color: var(--sidebar-primary);
  opacity: 0.8;
  font-size: 1rem;
}
.sideBar li {
  padding: 1rem;
  list-style: none;
}

.city {
  cursor: pointer;
}

.city:hover {
  color: white;
}

.statusList li {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}
